.containter {
    width: 100%;
    margin: 0 auto;
}

.item-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 890px;
    margin: 0 auto;
}

.location {
    display: flex;
    width: 890px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.name {
    color: #FFF;
    font-weight: 500;
    font-size: 2.5rem;
}

.searh-input {
    background-color: #062226;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .5);
    border-bottom: 1px solid #05292e;
    color: #FFF;
    cursor: pointer;
    margin: 0 auto;
    padding: .5rem;
    width: 35%;
}

.searh-input:hover {
    background-color: #05292e;
}